 * {
 	/* cursor: url(assetsPointer.png) auto; */
 	cursor: crosshair;
 }

 ::selection {
 	background: none;
 }

 #help {
 	/* font-size: 1.5em;
 	text-shadow: 0 2px 4px black;
 	border-radius: 10px;
 	padding: 5px;
 	cursor: pointer;
 	color: black; */
 	font-family: sans-serif;
 }

 #help:hover {
 	background: black;
 	color: white;
 }

 .hint {
 	position: relative;
 }

 .hintBox::before {
 	content: '';
 	width: 30px;
 	height: 30px;
 	background: white;
 	position: absolute;
 	right: 7px;
 	top: -12px;
 	transform: rotate(45deg);

 }
/* 
 #winText {
 	width: 300px;
 	height: 150px;
 	text-align: center;
 	color: green;
 	line-height: 150px;
 	box-shadow: 1px 3px 6px black;
 	border-radius: 5px;
 	font-size: 2em;
 	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 	/* background: url(/assets/party.png); */
 	/* background: whitesmoke;
 	padding: 10px 20px;
 	position: relative;
 	top: 40vh;
 	left: 40%;
 	animation: winpop 0.5s linear 1;
 	display: none;
 }

 #winText::before {
 	content: '';
 	background: url(/assets/party.png);
 	/* background: red; */
 	/* width: 100%;
 	height: 50px;
 	position: absolute;
 	top: 0;
 	left: 0; */
 /* }

 #winText::after {
 	content: '';
 	background-image: linear-gradient(white, silver, gray);
 	width: 100%;
 	height: 30px;
 	position: absolute;
 	bottom: 0px;
 	right: 0;
 }

 @keyframes winpop {
 	from {
 		transform: scale(0.1);
 		opacity: 0;
 	}

 	to {
 		transform: scale(1.0);
 		opacity: 1;
 	}
 } */ 

 .hintBox {
 	position: absolute;
 	top: 100px;
 	right: -5px;
 	width: 200px;
 	height: 200px;
 	background: whitesmoke;
 	font-family: 'Courier New', Courier, monospace;
 	border-radius: 5px;
 	border: 1px groove black;
 	box-shadow: 1px 3px 6px black;
 	padding: 10px 20px;
 	transform: all 1s;
 	display: none;
 }

 .hintBox h3 {
 	text-decoration: underline;
 	text-align: center;
 }

 .hintBox button {
 	background-image: linear-gradient(to right, red, gold, red);
 	outline: none;
 	border: none;
 	border-radius: 10px;
 	padding: 5px 10px;
 	font-weight: 600;
 }

 body {
 	margin: 0;
 	padding: 0;
 	background-repeat: no-repeat;
 	background-size: cover;
 	overflow: hidden;
 }

 #icon {
 	color: black;
 	border: 5px solid black;
 	width: 50px;
 	height: 50px;
 	border-radius: 100%;
 	position: absolute;
 	top: 0;
 	left: 0;
 	transform: translate(-50%, -50%);
 	box-shadow: 0 2px 3px black;
 	z-index: -1;
 }

 #duck1 {
 	animation: duckfly1 15s ease-in 2s infinite;
 	background: url(assets/Bird1.png);
 	background-size: cover;
 	border: none;
 	width: 100px;
 	height: 100px;
 	position: absolute;
 	left: 100%;
 	top: 10%;
 	filter: drop-shadow(1px 5px 7px black);
 }

 @keyframes duckfly1 {

 	0% {
 		left: 100%;
 		top: 10%;
 	}

 	25% {
 		left: 80%;
 		top: 20%;
 	}

 	50% {
 		left: 60%;
 		top: 30%;
 	}

 	75% {
 		left: 40%;
 		top: 50%;
 	}

 	100% {
 		left: -50%;
 		top: 15%;
 	}
 }

 #duck2 {
 	background: url(assets/Bird1.png);
 	background-size: cover;
 	border: none;
 	height: 100px;
 	width: 100px;
 	position: absolute;
 	left: 100%;
 	top: 15%;
 	filter: drop-shadow(1px 5px 7px black);
 	animation: duckfly21 14s ease-in 2s infinite;
 }

 @keyframes duckfly21 {

 	0% {
 		left: 100%;
 		top: 15%;
 	}

 	25% {
 		left: 80%;
 		top: 50%;
 	}

 	50% {
 		left: 50%;
 		top: 30%;
 	}

 	75% {
 		left: 20%;
 		top: 50%;
 	}

 	100% {
 		top: 15%;
 		left: -50%;
 	}
 }

 #duck3 {
 	animation: duckfly3 18s ease-in 5s infinite;
 	background: url(assets/Bird1.png);
 	background-size: cover;
 	border: none;
 	width: 100px;
 	height: 100px;
 	position: absolute;
 	left: 100%;
 	top: 15%;
 	filter: drop-shadow(1px 5px 7px black);
 }

 @keyframes duckfly3 {

 	0% {
 		left: 100%;
 		top: 15%;
 	}

 	25% {
 		left: 80%;
 		top: 23%;
 	}

 	50% {
 		left: 60%;
 		top: 35%;
 	}

 	75% {
 		left: 40%;
 		top: 50%;
 	}

 	100% {
 		left: -50%;
 		top: 20%;
 	}
 }

 #duck4 {
 	animation: duckfly4 20s ease-out 13s infinite;
 	background: url(assets/Bird1.png);
 	background-size: cover;
 	border: none;
 	width: 100px;
 	height: 100px;
 	position: absolute;
 	left: 100%;
 	top: 10%;
 }

 @keyframes duckfly4 {

 	0% {
 		left: 100%;
 		top: 10%;
 	}

 	25% {
 		left: 90%;
 		top: 60%;
 	}

 	50% {
 		left: 50%;
 		top: 40%;
 	}

 	75% {
 		left: 30%;
 		top: 50%;
 	}

 	100% {
 		left: -50%;
 		top: 15%;
 	}
 }

 #duck5 {
 	animation: duckfly5 10s linear 16s infinite;
 	background: url(assets/Bird1.png);
 	border: none;
 	background-size: cover;
 	width: 100px;
 	height: 100px;
 	position: absolute;
 	left: 100%;
 	top: 30%;
 	filter: drop-shadow(1px 5px 7px black);
 }

 @keyframes duckfly5 {

 	0% {
 		left: 100%;
 		top: 30%;
 	}

 	25% {
 		left: 80%;
 		top: 70%;
 	}

 	50% {
 		left: 65%;
 		top: 35%;
 	}

 	75% {
 		left: 40%;
 		top: 42%;
 	}

 	100% {
 		left: -50%;
 		top: 20%;
 	}
 }

 #duck6 {
 	animation: duckfly6 20s normal 20s infinite;
 	background: url(assets/Bird1.png);
 	background-size: cover;
 	border: none;
 	width: 100px;
 	height: 100px;
 	position: absolute;
 	left: 100%;
 	top: 15%;
 	filter: drop-shadow(1px 5px 7px black);
 }

 @keyframes duckfly6 {

 	0% {
 		left: 100%;
 		top: 15%;
 	}

 	25% {
 		left: 80%;
 		top: 40%;
 	}

 	50% {
 		left: 50%;
 		top: 28%;
 	}

 	75% {
 		left: 40%;
 		top: 30%;
 	}

 	100% {
 		left: -50%;
 		top: 15%;
 	}
 }

 #duck7 {
 	animation: duckfly7 10s linear 25s infinite;
 	background: url(assets/Bird1.png);
 	background-size: cover;
 	border: none;
 	width: 100px;
 	height: 100px;
 	position: absolute;
 	left: 100%;
 	top: 30%;
 	filter: drop-shadow(1px 5px 7px black);
 }

 @keyframes duckfly7 {

 	0% {
 		left: 100%;
 		top: 30%;
 	}

 	25% {
 		left: 80%;
 		top: 60%;
 	}

 	50% {
 		left: 50%;
 		top: 35%;
 	}

 	75% {
 		left: 30%;
 		top: 25%;
 	}

 	100% {
 		left: -50%;
 		top: 35%;
 	}
 }

 #duck8 {
 	animation: duckfly8 10s linear 15s infinite;
 	background: url(assets/Bird1.png);
 	background-size: cover;
 	border: none;
 	width: 100px;
 	height: 100px;
 	position: absolute;
 	left: 100%;
 	top: 20%;
 	filter: drop-shadow(1px 5px 7px black);
 }

 @keyframes duckfly8 {

 	0% {
 		left: 100%;
 		top: 20%;
 	}

 	25% {
 		left: 70%;
 		top: 65%;
 	}

 	50% {
 		left: 50%;
 		top: 30%;
 	}

 	75% {
 		left: 30%;
 		top: 45%;
 	}

 	100% {
 		top: 45%;
 		left: -50%;
 	}
 }

 #duck9 {
 	animation: duckfly9 14s linear 15s infinite;
 	background: url(assets/Bird1.png);
 	background-size: cover;
 	border: none;
 	width: 100px;
 	height: 100px;
 	position: absolute;
 	left: 100%;
 	top: 40%;
 	filter: drop-shadow(1px 5px 7px black);
 }

 @keyframes duckfly9 {

 	0% {
 		left: 100%;
 		top: 40%;
 	}

 	25% {
 		left: 80%;
 		top: 52%;
 	}

 	50% {
 		left: 50%;
 		top: 30%;
 	}

 	75% {
 		left: 20%;
 		top: 25%;
 	}

 	100% {
 		left: -50%;
 		top: 25%;
 	}
 }

 #duck10 {
 	animation: duckfly10 15s linear 10s infinite;
 	background: url(assets/Bird1.png);
 	width: 100px;
 	height: 100px;
 	background-size: cover;
 	border: none;
 	width: 100px;
 	height: 100px;
 	position: absolute;
 	left: 100%;
 	top: 25%;
 	filter: drop-shadow(1px 5px 7px black);
 }

 @keyframes duckfly10 {

 	0% {
 		left: 100%;
 		top: 25%;
 	}

 	25% {
 		left: 80%;
 		top: 60%;
 	}

 	50% {
 		left: 50%;
 		top: 30%;
 	}

 	75% {
 		left: 30%;
 		top: 55%;
 	}

 	100% {
 		left: -50%;
 		top: 10%;
 	}
 }

 /* egle start here */
 #duck11 {
 	animation: duckfly11 17s ease-in 15s infinite;
 	background: url(assets/egle.png);
 	width: 100px;
 	height: 100px;
 	background-size: cover;
 	border: none;
 	width: 100px;
 	height: 100px;
 	position: absolute;
 	left: 110%;
 	top: 30%;
 	filter: drop-shadow(1px 5px 7px black);
 	transform: rotate(15deg);
 }

 @keyframes duckfly11 {

 	0% {
 		left: 100%;
 		top: 30%;
 	}

 	25% {
 		left: 80%;
 		top: 60%;
 	}

 	50% {
 		left: 50%;
 		top: 32%;
 	}

 	75% {
 		left: 25%;
 		top: 50%;
 	}

 	100% {
 		left: -50%;
 		top: 15%;
 	}
 }


 #duck12 {

 	border-radius: 50px;
 	animation: duckfly12 20s linear 10s infinite;
 	background: url(assets/egle.png);
 	width: 100px;
 	height: 100px;
 	background-size: cover;
 	border: none;
 	position: absolute;
 	left: 100%;
 	top: 30%;
 	transform: rotate(15deg);
 	filter: drop-shadow(1px 5px 7px black);
 }

 @keyframes duckfly12 {

 	0% {
 		left: 100%;
 		top: 20%;
 	}

 	25% {
 		left: 90%;
 		top: 50%;
 	}

 	50% {
 		left: 60%;
 		top: 32%;
 	}

 	75% {
 		left: 35%;
 		top: 50%;
 	}

 	100% {
 		left: -50%;
 		top: 15%;
 	}
 }

 #duck13 {
 	animation: duckfly13 15s ease-out 15s infinite;
 	background: url(assets/egle.png);
 	width: 100px;
 	height: 100px;
 	background-size: cover;
 	border: none;
 	position: absolute;
 	left: 100%;
 	top: 30%;
 	transform: rotate(15deg);
 	filter: drop-shadow(1px 5px 7px black);
 }

 @keyframes duckfly13 {

 	0% {
 		left: 100%;
 		top: 20%;
 	}

 	25% {
 		left: 85%;
 		top: 40%;
 	}

 	50% {
 		left: 60%;
 		top: 30%;
 	}

 	75% {
 		left: 30%;
 		top: 50%;
 	}

 	100% {
 		left: -50%;
 		top: 18%;
 	}
 }

 #duck14 {
 	animation: duckfly14 18s ease-out 16s infinite;
 	background: url(assets/egle.png);
 	border-radius: 50px;
 	width: 100px;
 	height: 100px;
 	background-size: cover;
 	border: none;
 	position: absolute;
 	left: 100%;
 	top: 25%;
 	transform: rotate(15deg);
 	filter: drop-shadow(1px 5px 7px black);
 }

 @keyframes duckfly14 {

 	0% {
 		left: 100%;
 		top: 25%;
 	}

 	25% {
 		left: 80%;
 		top: 40%;
 	}

 	50% {
 		left: 50%;
 		top: 30%;
 	}

 	75% {
 		left: 35%;
 		top: 50%;
 	}

 	100% {
 		left: -50%;
 		top: 15%;
 	}
 }

 #duck15 {
 	animation: duckfly15 13s ease-in 20s infinite;
 	background: url(assets/egle.png);
 	border-radius: 50px;
 	width: 100px;
 	height: 100px;
 	background-size: cover;
 	border: none;
 	position: absolute;
 	left: 100%;
 	top: 30%;
 	transform: rotate(15deg);
 	filter: drop-shadow(1px 5px 7px black);
 }

 @keyframes duckfly15 {

 	0% {
 		left: 100%;
 		top: 30%;
 	}

 	25% {
 		left: 80%;
 		top: 25%;
 	}

 	50% {
 		left: 50%;
 		top: 36%;
 	}

 	75% {
 		left: 35%;
 		top: 50%;
 	}

 	100% {
 		left: -50%;
 		top: 15%;
 	}
 }

 #title {
 	box-shadow: 1px 1px 5px black;
 	background: white;
 	border-radius: 50px;
 	width: 30px;
 	height: 30px;
 }

 .heading {
 	display: flex;
 	position: absolute;
 	width: 95%;
 	align-items: center;
 	justify-content: space-between;
 	top: 5%;
 	left: 1%;
 	padding: 5px 10px;
 }

 .heroname {
 	border: 5px dashed orange;
 	display: flex;
 	align-items: center;
 }

 #player {
 	font-family: cursive;
 	font-size: 1.2em;
 	font-weight: 900;
 	color: white;
 	padding: 0 20px;
	display: inline;
 }

 /* .playeritems {
 	width: 100%;
 	border-radius: 5px;
 	display: flex;
 	flex-direction: column;
 	gap: 10px;
 	align-items: center;
 }

 .playeritems>h3 {
 	text-align: center;
 } */

 /* .items {
 	background: rgb(36, 35, 35);
 	border-radius: 10px;
 	border: 10px solid black;
 	cursor: auto;
 	color: white;
 	height: 100%;
 	width: 70%;
 } */


 #Popup {
	background: rgb(36, 35, 35);
 	/* display: flex;
 	flex-direction: column;
 	align-items: center;
 	justify-content: space-around;
 	border-width: 5px;
 	border-radius: 20px; */
 	animation: pop 1s linear 1;
 	transition: all 1s;
 	cursor: default;
 }

 @keyframes pop {
 	from {
 		transform: scale(0.1);
 	}

 	to {
 		transform: scale(1.0);
 	}
 }

 /* #gamelog {
 	width: 100px;
 	height: 100px;
 	border: 3px inset whitesmoke;
 	border-radius: 100%;
 	box-shadow: 1px 2px 5px black;
 	position: absolute;
 	top: 80px;
 	left: 18%;
 } */

 #playerName {
 	background: black;
 	color: white;
 	text-align: center;
 	border-radius: 5px;
 	border: none;
 	border-bottom: 2px inset gray;
 	margin: 0 0 20px 0px;
 	padding: 10px 20px;
 	cursor: auto;
 }


 #playerName::placeholder {
 	text-align: center;
 }

 #playerName:focus {
 	outline: none;
 	border: 2px outset rgb(36, 35, 35);
 }

 #pop-artical {
 	font-size: 0.7em;
 	padding: 10px 0;
 	font-family: sans-serif;
 }

 #play {
 	background-image: linear-gradient(to right, red, gold, red);
 	border-radius: 10px;
 	border-style: none;
 	box-shadow: 1px 1px 1px black;
 	font-weight: 600;
 	padding: 10px 90px;
 	cursor: auto;
 	margin-top: 20px;
 }

 #play:hover {
 	background-image: linear-gradient(to right, gold, red, gold);
 	color: white;
 	transition: all 0.5s;
 }

 #footer_container {
 	background: teal;
 	width: 100%;
 	height: 70px;
 	position: absolute;
 	bottom: 0px;
 	left: 0px;

 	border-radius: 0px 0px 10px 10px;
 }

 footer {
 	position: absolute;
 	bottom: 5px;
 	left: 60px;
 	letter-spacing: 1px;
 	font-family: fantasy;
 	font-size: 13px;
 	font-weight: 900;
 	text-shadow: 1px 2px 5px white;
 }

 #loading {
 	color: white;
 	text-shadow: 0 0 5px black;
 	font-weight: 800;
 	font-family: 'Courier New', Courier, monospace;
 }

 #point {
 	animation: loading 1s linear infinite;
 	position: relative;
 }

 @keyframes loading {
 	from {
 		opacity: 1;
 	}

 	to {
 		opacity: 0
 	}
 }

 .tools {
 	display: flex;
 	align-items: center;
 	gap: 20px;
 	position: absolute;
 	background-color: rgba(0, 0, 0, 0.568);
 	width: 100%;
 	bottom: 0;
 	padding: 10px 0;
 }

 #Die {
 	position: absolute;
 	bottom: 20px;
 	left: 45%;
 	color: gold;
 	border-radius: 50px;
 	font-size: 2em;
 	font-family: monospace, sans-serif;
 	font-weight: 500;
 	text-shadow: 1px 2px 5px teal;
 }

 #gun {
 	width: 80px;
 	height: 70px;
 	transform: rotate(-20deg);
 	margin: 0 0 0 25%;
 }

 #bullets {
 	width: 100px;
 	height: 50px;
 }

 .ShootingArea {
 	width: 1860px;
 	height: 880px;
 }

 h4 {
 	color: white;
 	font-size: 2em;
 	font-family: monospace;
 	text-shadow: 1px 2px 5px black;
 	position: absolute;
 	bottom: 0;
 	left: 25px;
	width: 100%;
 }